include mixins
doctype html
html(lang='ru')
    +dev_head('Girland', true)
    body.h_100p
        .slider_holder
            .mainSlider.swiper-container.main_slider
                .swiper_controls: .section_inner
                    .swiper-button-next.mob_hidden#main_slider_next
                    .swiper-button-prev.mob_hidden#main_slider_prev
                    .swiper-button-pagination.dt_hidden#main_slider_pagination
                .swiper-wrapper.clearfix
                    +loop_while(4)
                        .swiper-slide
                            .slide_img.mob_hidden.imgBS: img(src='i/top_banner.jpg')
                            .slide_img.dt_hidden.imgBS: img(src='i/top_banner_mob.jpg')

                .slide_content
                    .section_inner.text_center
                        .slide_i_block
                            h2.slide_i_caption.fz_30 А Р Е Н Д А
                            p.fz_72 Ретро
                            p.fz_42 гирлянды
                            p.fz_37 с лампами
                            p.fz_30 накаливания

            a.btn_v3.order_now_btn.white_btn(href='#') заказать сейчас
            
        .wrapper
            +header()
                
            .base
                    
                div.main_content
                    .section_w.section_v1
                        .section_inner
                            h2.section_caption.bordered на несколько дней  <br>  иЛИ навсегда
                            
                            .article_v1.text_center
                                p 3 года назад мы начали делать и продавать гирлянды в Happy Station, а еще через полгода стали сдавать их в аренду. Тогда мы были одними из первых, если не самыми первыми. С тех пор мы сделали 9 километров чистой красоты, побывали с ними на 17 ярмарках, украсили 62 свадьбы, 7 интерьеров ресторанов, 1 рекламный ролик и даже 1 фильм со  <br>  Шнуром в главной роли.
                                
                                p Если вы хотите украсить свой праздник, — лучше, изящнее и интеллигентнее способа не найдете, а мы с удовольствием в этом поможем.
                    
                    .section_w.section_v2
                        
                        .garland_block
                            .garland_4.garland_item(
                                data-stellar-offset-parent="true"
                                data-stellar-horizontal-offset="0"
                                data-stellar-ratio="1.2"
                                )
                                img(src='i/1604_HS_Garland_Parallax_04.png')
                            .garland_3.garland_item(
                                data-stellar-offset-parent="true"
                                data-stellar-horizontal-offset="0"
                                data-stellar-ratio="1.5"
                                )
                                img(src='i/1604_HS_Garland_Parallax_03.png')
                            .garland_2.garland_item(
                                data-stellar-offset-parent="true"
                                data-stellar-horizontal-offset="0"
                                data-stellar-ratio="1.8"
                                )
                                img(src='i/1604_HS_Garland_Parallax_02.png')
                            .garland_1.garland_item(
                                data-stellar-offset-parent="true"
                                data-stellar-horizontal-offset="0"
                                data-stellar-ratio="2.1"
                                )
                                img(src='i/1604_HS_Garland_Parallax_01.png')

                            .section_inner
                                .swiper-container.dims_slider.dimsSlider
                                    .swiper_controls.dt_hidden
                                        .swiper-button-pagination.dt_hidden#dim_slider_pagination
                                            
                                    ul.swiper-wrapper.clearfix
                                        li.swiper-slide
                                            .garland_dim_unit
                                                .garland_dim_caption расстояние  <br> между лампочками
                                                .garland_dim_img
                                                    img(src='i/lamp_dist.svg')
                                                    .garland_text 
                                                        | 30 
                                                        span.fz_24 см
                                                p На наших гирляндах элементарно больше лампочек! 
                                                
                                        li.swiper-slide
                                            .garland_dim_unit
                                                .garland_dim_caption длина <br> гирлянд
                                                .garland_dim_img
                                                    img(src='i/garland.svg')
                                                    .garland_text 
                                                        | 3 
                                                        span.fz_24 м  
                                                        | • 5 
                                                        span.fz_24 м 
                                                        | • 10 
                                                        span.fz_24 м 
                                                        | • 15 
                                                        span.fz_24 м
    
                                                p Мы подобрали оптимальные длины гирлянд на все случаи.
                                                
                                        li.swiper-slide
                                            .garland_dim_unit
                                                .garland_dim_caption мощность <br> ламп
                                                .garland_dim_img
                                                    img(src='i/lamp_power.svg')
                                                    .garland_text 
                                                        | 10 
                                                        span.fz_24 Вт
                                                        | &nbsp; &nbsp; &nbsp; 25 
                                                        span.fz_24 Вт 
                                                p Наши гирлянды подходят как для украшения, так и для освещения.
                                                
                                        li.swiper-slide.mob_hidden
                                            .garland_dim_unit
                                                .garland_dim_caption и ещё
                                                .garland_dim_img
                                                    a.garland_add_mode(href='benefits.html') 
                                                p Еще несколько причин, почему наши гирлянды самые крутые
                                            
                            .garland_works: .section_inner
                                h2.section_caption наши гирлянДы <br> в работе
                                .tab_select: .select_v3.dt_hidden
                                    select.tabSelect.select2(data-select-class='tab_select_emul')
                                        option(value='#filter_tab_1') все фото (121)
                                        option(value='#filter_tab_2') праздники (33)
                                        option(value='#filter_tab_3') ярмарки и интерьеры (24)
                                        option(value='#filter_tab_4') реклама и кино (2)
                                        option(value='#filter_tab_5') свадьбы (62)
                                    
                                .tab_controls.mob_hidden
                                    ul#works_filter.filter_list
                                        li.filter_item: a.filter_link(href='#filter_tab_1'): span все фото (121)
                                        li.filter_item: a.filter_link(href='#filter_tab_2'): span праздники (33)
                                        li.filter_item: a.filter_link(href='#filter_tab_3'): span ярмарки и интерьеры (24)
                                        li.filter_item: a.filter_link(href='#filter_tab_4'): span реклама и кино (2)
                                        li.filter_item: a.filter_link(href='#filter_tab_5'): span свадьбы (62)
                                        
                                .tabBlock(data-tab-context='#works_filter')
                                    #filter_tab_1
                                        +works_slider(15, 1)
                                    #filter_tab_2
                                        +works_slider(8, 2)
                                    #filter_tab_3
                                        +works_slider(1, 3)
                                    #filter_tab_4
                                        +works_slider(11, 4)
                                    #filter_tab_5
                                        +works_slider(23, 5)
                                    
                                .share_banner
                                    .share_discount
                                        span.discount_val 10
                                        span.discount_perc %
                                        .discount_text &nbsp; скидка
                                    .share_b_left: span за фото вашего праздника с тегом 
                                    .share_b_right: a(href='#') #гирлянды_happystation
                    
                    .section_w.section_v2
                        .section_inner
                            .order_form.orderForm.error
                                h2.section_caption.buyMode выберите дату <br> и забронируйте гирлянды
                                h2.section_caption.buyMode.modeInvert(style='display:none;') выберите размер <br> и закажите доставку
                                
                                form.validateMe(action='#')
                                    .text_center
                                        label.order_switcher
                                            input.inp_hidden.checkDependence(type='checkbox' data-dependence='.buyMode' checked)
                                            span.switcher_trigger
                                            span.switcher_on купить 
                                            span.switcher_off арендовать
                                    .buyMode
                                        .date_p_controls
                                            .swiper-container.monthSlider
                                                .swiper-wrapper: .swiper-slide

                                                    //-.date_p_years
                                                        select.select2.dateRangeYear(data-select-class='select_v1')
                                                    
                                                    .date_p_months
                                                        .date_month.dateMonth: span.month_day.monthBtn Январь
                                                        .date_month.dateMonth: span.month_day.monthBtn Февраль
                                                        .date_month.dateMonth: span.month_day.monthBtn Март
                                                        .date_month.dateMonth: span.month_day.monthBtn Апрель 
                                                        .date_month.dateMonth: span.month_day.monthBtn Май
                                                        .date_month.dateMonth: span.month_day.monthBtn Июнь
                                                        .date_month.dateMonth: span.month_day.monthBtn Июль
                                                        .date_month.dateMonth: span.month_day.monthBtn Август
                                                        .date_month.dateMonth: span.month_day.monthBtn Сентябрь
                                                        .date_month.dateMonth: span.month_day.monthBtn Октябрь
                                                        .date_month.dateMonth: span.month_day.monthBtn Ноябрь
                                                        .date_month.dateMonth: span.month_day.monthBtn Декабрь
                                            
                                        .date_p_holder.datePicker
                                            input#daterange.inp_hidden(type="text" name="daterange")
                                        .date_p_value
                                            span выбранный 
                                            span.dt_hidden  <br> 
                                            span Период&nbsp;аренды: 
                                            span.dateRange.date_p_range 13 ДНЕЙ
                                        
                                    .order_options_table
                                        .order_opt_row
                                            .order_opt_cell
                                                .order_opt_item: label.radio_v1
                                                    input.inp_hidden(type='radio' name='delivery')
                                                    span.check_text 
                                                        span.clr_gold доставка по москве 500 руб  <br> 
                                                        span.clr_gray (бесплатно при заказе от 6000 руб)
                                                                                                
                                            .order_opt_cell
                                                .order_opt_item: label.radio_v1
                                                    input.inp_hidden(type='radio' name='delivery')
                                                    span.check_text 
                                                        span.clr_gold доставка за пределы москвы  <br> 
                                                        span.clr_gray (расСчитывается индивидуально)
                                                        
                                            .order_opt_cell
                                                .order_opt_item
                                                    label.radio_v1
                                                        input.inp_hidden(type='radio' name='delivery')
                                                        span.check_text
                                                            span.clr_gold самовывоз <br> 
                                                    p
                                                        a(target='_blank' href='https://yandex.ua/maps/10758/himki/?source=wizbiz_new_map_single&ncrnd=2233&text=%D0%BE%D1%81%D0%BA%20%D0%B1%D1%83%D0%BC%D0%B5%D1%80%D0%B0%D0%BD%D0%B3&sll=37.343002%2C55.864621&sspn=0.000180%2C0.000101&sctx=CAAAAAEAHThnRGnPQkCNl24Sg%2BBLQJP8iF%2BxhuQ%2Faw2l9iLa3T8CAAAAAQIBAAAAAAAAAAG0Q3myvn9qxdUAAAABAACAPwAAAAAAAAAA&ol=psearch&oid=62520244').radio_tip_link.clr_gray (посмотреть на карте)
                                                        
                                        .order_opt_row
                                            .order_opt_cell &nbsp;
                                            .order_opt_cell
                                                .order_opt_item: label.check_v1.buyMode
                                                    input.inp_hidden(type='checkbox')
                                                    span.check_text
                                                        span.clr_gold нужен монтаж <br> 
                                                        span.clr_gray (рассчитывается индивидуально)
    
                                                .order_opt_item: label.check_v1.buyMode
                                                    input.inp_hidden.checkDependence2(type='checkbox')
                                                    span.check_text 
                                                        span.clr_gold нужна защита от дождя <br> 
                                                        span.clr_gray (только для гирлянд длиной 50 м)
                                                        
                                            .order_opt_cell &nbsp;

                                    .order_settings_table
                                        .order_settings_cell
                                            .setting_unit
                                                span.clr_gray длина гирлянды:
                                                span.select_v2
                                                    select.select2(data-select-class='select_v2')
                                                        option(data-nowaterproof='не влагозащищенные') 3 метра
                                                        option(data-nowaterproof='не влагозащищенные') 5 метров
                                                        option(data-nowaterproof='не влагозащищенные') 10 метров
                                                        option(data-nowaterproof='не влагозащищенные') 15 метров
                                                        option 25 метров
                                                        option 50 метров

                                        .order_settings_cell
                                            .setting_unit
                                                span.clr_gray количество гирлянд:   
                                                span.dt_hidden
                                                    span.select_v2
                                                        select.select2(data-select-class='select_v2')
                                                            option 1
                                                            option 2
                                                            option 3
                                                            option 4
                                                            option 5
                                                            option 6
                                                            
                                                span.mob_hidden.settings_counter
                                                    span.settings_btn.btn_down
                                                    input.f_input.input_v1(value='1')
                                                    span.settings_btn.btn_up
                                                    
                                        .order_settings_cell
                                            .setting_unit
                                                span.clr_gray мощность ламп:   
                                                span.select_v2
                                                    select.select2(data-select-class='select_v2')
                                                        option 25 вт
                                                        option 50 вт
                                                        option 75 вт
                                                        option 100 вт
                                                        
                                    .text_center.order_add_btn_holder
                                        a.order_add_btn(href='#') добавить гирлянду другого размера
                                        
                                    .form_row
                                        .form_cell: .formCell.input_w
                                            span.form_cell_icon
                                            input.f_input.input_v2(placeholder='ваше имя' class='validate[required]')
                                                                                                    
                                        .form_cell: .formCell.input_w
                                            span.form_cell_icon
                                            input.f_input.input_v2(placeholder='ваш e-mail' class='validate[required,custom[email]]')
                                                                                                    
                                        .form_cell: .formCell.input_w
                                            span.form_cell_icon
                                            input.f_input.input_v2(placeholder='ваш телефон' class='validate[required]')
                                                                                                   
                                        .form_cell.form_cell_wide: .formCell.input_w
                                            span.form_cell_icon
                                            input.f_input.input_v2(placeholder='адрес доставки' class='validate[required]')
                                                                                                   
                                    .text_center
                                        .pledge_sum.buyMode
                                            span.clr_gray сумма залога за гирлянды: 
                                            span.clr_gold  12 000 руб
                                        .rent_sum 
                                            span.clr_gray стоимость аренды:
                                            span.clr_gold  1 000 руб
                                            
                                        button#actionBtn.btn_v3.order_btn.white_btn_gold(disabled='disabled') заказать

            .footer_holder
                .footer
                    .section_inner
                        .footer_table
                            .footer_t_cell: .footer_share_block
                                p.text_upper HAPPY STATION <br> в соцсетях:
                                ul.footer_share
                                    li: a.sh_link.sh_fb(href='https://www.facebook.com/happystationru')
                                    li: a.sh_link.sh_in(href='https://www.instagram.com/happystation/')
                                    li: a.sh_link.sh_vk(href='https://ru.pinterest.com/happystation/')
                            .footer_t_cell
                                p: a.footer_logo(href='#'): span.text_upper Перейти в магазин <br> Happy Station
                                
                            .footer_t_cell: .footer_help_block 
                                p.text_upper нужна помощь?
                                .callback_text Звоните: +1-855-773-6736 <br> или пишите 
                                    a.callback_link(href='mailto:arenda@happystation.ru') arenda@happystation.ru
                                    
